<!--
<div class="container">
   <h5>Sort</h5>
   <div class="form-check">
     <input class="form-check-input" type="radio" name="sortingMethod" id="sortByCategoryAscending"
       value="categoryascending" (click)="setSortingMethod('CategoryAscending')">
     <label class="form-check-label" for="sortByCategoryAscending">
       Category Ascending
     </label>
   </div>
   <div class="form-check">
     <input checked class="form-check-input" type="radio" name="sortingMethod" id="sortByCategoryDescending"
       value="categorydescending" (click)="setSortingMethod('CategoryDescending')">
     <label class="form-check-label" for="sortByCategoryDescending">
       Category Descending
     </label>
   </div>
   <div class="form-check">
     <input class="form-check-input" type="radio" name="sortingMethod" id="sortByNameAscending" value="nameascending"
       (click)="setSortingMethod('NameAscending')">
     <label class="form-check-label" for="sortByNameAscending">
       Name Ascending
     </label>
   </div>
   <div class="form-check">
     <input class="form-check-input" type="radio" name="sortingMethod" id="sortByNameDescending" value="namedescending"
       (click)="setSortingMethod('NameDescending')">
     <label class="form-check-label" for="sortByNameDescending">
       Name Descending
     </label>
   </div>
  -->