.category-toggle-container {
   position: relative;
   height: 2em;
   cursor:pointer;
   margin: 3px 0px 3px;
   width: 100%;
   transition: 0s;
}

.category-toggle {
   position: absolute;
   left: 10px;
   top:50%;
   transform: translateY(-50%);
}