<h2>Frames</h2>
<table class="table">
  <thead>
    <th>Name</th>
    <th>Obtained</th>
  </thead>
  
  <tbody>
    <tr *ngFor='let frame of frames'>
      <td>{{frame.name}}</td>
      <td>{{frame.obtained}}</td>
    </tr>
  </tbody>

</table>

<ul class="frames">
  <li *ngFor="let frame of frames">
    <a routerLink="/frame-details/{{frame.id}}">
      {{frame.name}}
    </a>
    <button 
      class="delete" title="delete frame"
      (click)="delete(frame)">x
    </button>
  </li>
</ul>
<p>Hello</p>
<div>
  <label for="new-frame">Frame name: </label>
  <input id="new-frame" #frameName/>

  <!-- (click) passes input value to add() and then clears the input -->
  <button class="add-button" (click)="add(frameName.value); frameName.value=''">
    Add frame
  </button>
</div>

<!-- On click = call method example:
<ul class="frames">
  <li *ngFor="let frame of frames" 
  [class.selected]="frame === selectedFrame"
  (click)="onSelect(frame)">
    {{frame.name}}
  </li>
</ul>
-->
<!--
<div *ngIf="selectedFrame">
  <h2>{{selectedFrame.name | uppercase}} Details</h2>
  <div>
    <label for="frame-name">Frame name: </label>
    <input id="frame-name" [(ngModel)]="selectedFrame.name" placeholder="name">
  </div>
</div>
-->