<div class="container">

  <div class="row">
    <h5>Search</h5>
    <div class = "col-12">
      <input class="w-100" #searchBox type="text" (input)="setFilterText(searchBox.value)" />
    </div>
  </div>

  <div class="row">
    <h5>Included categories</h5>
    
    <div *ngFor="let category of categories | keyvalue" class="col-12 col-sm-6 col-lg-12">
      <div class="category-toggle-container noselect btn btn-primary" (click)="toggleShowCategory(category.value)">
        <div class="category-toggle nopointer">
          <input type="checkbox" [checked]="getCheckedValue(category.value)">
          {{category.value}}s
        </div>
      </div>
    </div>
    
  </div>

  <div class="row">
    <h5 class="center">Obtained filter</h5>
    
    <div *ngFor="let state of obtainedStates | keyvalue" class="col-12 col-sm-6 col-lg-12">
      <div class="btn btn-primary category-toggle-container" (click)="setObtainedFilter(state.value)">
        <div class="category-toggle nopointer">
          <input type="radio" [checked]="getObtainedFilterValue(state.value)">
          {{state.value}}
        </div>
      </div>
    </div>
  
  </div>

</div>