<div class="container">
  <div class="row">
    <div *ngFor="let category of categories | keyvalue" 
      class="col-12 col-md-6 col-lg-2">
      <div class="category-toggle-container noselect btn btn-primary" 
        (click)="toggleShowCategory(category.value)">
        <div class="category-toggle nopointer"><input type="checkbox" [checked]="getCheckedValue(category.value)">
          {{category.value}}s
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <h5>Obtained filter</h5>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="filterObtained" id="filterObtainedAll" value="obtainedall"
        (click)="setObtainedFilterToAny()">
      <label class="form-check-label" for="filterObtainedAll">
        Show All
      </label>
    </div>
    <div class="form-check">
      <input checked class="form-check-input" type="radio" name="filterObtained" id="filterObtainedNon"
        value="obtainednon" (click)="setObtainedFilterToNonObtained()">
      <label class="form-check-label" for="filterObtainedNon">
        Show Non-Obtained
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="filterObtained" id="filterObtainedNonMastered"
        value="obtainednonmastered" (click)="setObtainedFilterToObtained()">
      <label class="form-check-label" for="filterObtainedNonMastered">
        Show Obtained Non-Mastered
      </label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="radio" name="filterObtained" id="filterObtainedMastered"
        value="obtainedmastered" (click)="setObtainedFilterToMastered()">
      <label class="form-check-label" for="filterObtainedMastered">
        Show Mastered
      </label>
    </div>
  </div>