.card-part {   
   border-radius: 0;
   padding: 0;
}

.hide {
   display: none;
}

.status-icon {
   animation-name: addIcon;
   animation-duration: 0.35s;
   animation-timing-function: ease;
   color: whitesmoke;
   font-size: 0.75em;
   margin-left: 2px;
   margin-right: 2px;
}

.status-icon-container {
   top: 5px;
   right: 10px;
   text-align: right;
   position: absolute;
}

@keyframes addIcon {
   0%  {color:transparent; font-size: 0em;}
  50%  { font-size:1.25em;}
  100% {color:whitesmoke; font-size: 0.75em;}
}
/*
@keyframes addIcon {
   0%  {color:transparent; top:-10px;}
  75%  { top:20px;}
  100% {color:darkgreen; top:10px;}
}/**/

.component-container {
   width: 100%;
   border-radius: 0 0 5px 5px;
   min-height: 4em;
   display: flex;
}

.card-top-container {
   display: none;
   height: 0em;
}

.card-part:hover {
   transition: 0s;
}

.card-part i {
   color: gray;
   font-size: 2em;
}

.button-icon {
   color: gray;
   font-size: 2em;
}

.part-center {
   width: 34.5%;
   border-radius: 0;
}

.part-left {
   border-radius: 0 0 0 5px;
   width: 33%;
}

.part-right {
   border-radius: 0 0 5px 0;
   width: 33%;
}

.category-icon {
   position: absolute;
   top: 10px;
   left: 10px;
}

.card-body {
   border-radius: 5px;
}

.bg-frame-nonobtained {
   color: darkgray;
}

.card-title {
   position:absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   font-size: 1.25em;
   text-align: center;
   vertical-align: center;
}

.tooltip-text {
   visibility: hidden;
   position: absolute;
   width: 120px;
   // display: none;
   font-size: 0.5em;
   font-weight: normal;
   text-align: center;
   border-radius: 2px;
   padding: 5px 5px;
   z-index: 1;
   transform:translate(-77px, 40px);
   background-color: whitesmoke;
   border: solid 1px black;
   box-shadow: 2px 2px 3px black;
}

 @media only screen and (min-width: 992px) {
   .card-part i {
      visibility: hidden;
      color: rgb(121, 121, 121);
   }
   .card-part:hover i {
      visibility: visible;
   }

   .card-bottom-container {
      display: flex;
      min-height: 2em;
   }
   
   .card-top-container {
      display: inline-block;
      min-height: 4em;
   }
/**/

   .card-title {
      position:absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.25em;
      width: 80%;
      text-align: center;
      vertical-align: center;
   }/**/
    
    .card-part:hover .tooltip-text {
      visibility: visible;
    }
}