<div class='m-1 card collectible-card {{collectedColor(collectible)}}'>
   <div class="card-body m-1 p-0">

      
      
      
      <p class="font-weight-bold text-light card-title noselect">{{collectible.name}}</p>
      <div class="bg-secondary">
         <div class="card-top-container">
            
         </div>
         <div class="card-bottom-container">
            <button class="card-part part-left btn btn-secondary">
               <a routerLink='/collectible/{{collectible.category}}/{{collectible.name}}'>
                  <i class="fas fa-eye button-icon">
                     <span class="tooltip-text">Go to details page</span>
                  </i>
               </a>
            </button>

            <button class="card-part part-center btn btn-secondary" (click)="toggleWishList()">
               <i class="fa fa-bars button-icon">
                  <span class="tooltip-text">Add to wishlist</span>
               </i>
            </button>

            <button class="card-part part-right btn btn-secondary" (click)="increaseRank()">
               <i class="fas fa-check button-icon">
                  <span class="tooltip-text text-dark">Increase rank</span>
               </i>
            </button>
         </div>

      </div>

      <i class="{{collectibleIcon(collectible)}} category-icon noselect"></i>
      <div class="status-icon-container m-0 p-0">
         <i class="{{getWishListStyle()}} fa fa-bars"></i>
         <i class="{{getRankStyle()}} {{getRankIcon()}}"></i>
      </div>

   </div>
</div>