<div class="d-flex info-box m-3" *ngIf="initialisedCollectible">
   <div>
      <h1>{{collectible.name}}</h1>
      <h2>{{collectible.category}}</h2>
   </div>
   <div class="card p-2">
      <h5 class="card-title">Wishlist: {{wishlistText}}</h5>
      <button class="btn btn-warning" (click)="toggleWishlist()">Toggle</button>
   </div>
   
   <div class="card p-2">
      <h5 class="card-title">Status: {{statusText}}</h5>
      <div class="d-flex">
         <button class="btn btn-primary large-text m-1" (click)="reduceRank()">-</button>
         <button class="btn btn-primary large-text m-1" (click)="increaseRank()">+</button>
      </div>
   </div>
</div>

<div *ngIf="components !== undefined && components.length > 0" class="card p-2 m-3">
   <h2 class="card-title">Components</h2>
   <ul class="list-group list-group-flush">
      <div class="list-group-item" *ngFor="let component of components">
         <span [innerHTML]="getDetailsHtml(component)"></span>
      </div>
   </ul>
</div>


<div *ngIf="sourceHtmlSnippets !== undefined && sourceHtmlSnippets.length > 0" class="card p-2 m-3">
   <h2 class="card-title">Component Sources</h2>
   <ul class="list-group list-group-flush">
      <div class="list-group-item" *ngFor="let snippet of sourceHtmlSnippets">
         <span [innerHTML]="snippet"></span>
      </div>
   </ul>
</div>