<h2>Collectibles</h2>

<!--<i class="fa fa-bars"></i>-->

<div class="container">
  <h5><input type="checkbox" class="btn btn-primary active" (click)="toggleShowCategory('Warframe')" checked>Include
    Frames
  </h5>
  <h5><input type="checkbox" class="btn btn-primary active" (click)="toggleShowCategory('Primary Weapon')"
      checked>Include Primary Weapons
  </h5>
  <h5><input type="checkbox" class="btn btn-primary active" (click)="toggleShowCategory('Secondary Weapon')"
      checked>Include Secondary Weapons
  </h5>
  <h5><input type="checkbox" class="btn btn-primary active" (click)="toggleShowCategory('Melee Weapon')" checked>Include
    Melee Weapons
  </h5>
  <h5><input type="checkbox" class="btn btn-primary active" (click)="toggleShowCategory('Amp Prism')" checked>Include
    Amps
  </h5>
  <h5><input type="checkbox" class="btn btn-primary active" (click)="toggleShowCategory('Pet')" checked>Include Pets
  </h5>
  <h5><input type="checkbox" class="btn btn-primary active" (click)="toggleShowCategory('Robo-Gun')" checked>Include
    Robo-Guns
  </h5>
  <h5><input type="checkbox" class="btn btn-primary active" (click)="toggleShowCategory('Archwing')" checked>Include
    Archwings
  </h5>
  <h5><input type="checkbox" class="btn btn-primary active" (click)="toggleShowCategory('Archgun')" checked>Include
    Archguns
  </h5>
  <h5><input type="checkbox" class="btn btn-primary active" (click)="toggleShowCategory('Arch-Melee')" checked>Include
    Arch-Melee
  </h5>
  <h5><input type="checkbox" class="btn btn-primary active" (click)="toggleShowCategory('Arch-Melee')" checked>Include
    Arch-Melee
  </h5>
  <h5><input type="checkbox" class="btn btn-primary active" (click)="toggleShowCategory('Arch-Melee')" checked>Include
    Arch-Melee
  </h5>
  <div>
    <h5>Search</h5>
    <input #searchBox type="text" (input)="setFilterText(searchBox.value)" />
  </div>
</div>


<div class="container">
  <h5>Obtained filter</h5>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="filterObtained" id="filterObtainedAll"
      value="obtainedall" (click)="setObtainedFilter('All')">
    <label class="form-check-label" for="filterObtainedAll">
      Show All
    </label>
  </div>
  <div class="form-check">
    <input checked class="form-check-input" type="radio" name="filterObtained" id="filterObtainedNon" value="obtainednon"
      (click)="setObtainedFilter('NonObtained')">
    <label class="form-check-label" for="filterObtainedNon">
      Show Non-Obtained
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="filterObtained" id="filterObtainedNonMastered"
      value="obtainednonmastered" (click)="setObtainedFilter('NonMastered')">
    <label class="form-check-label" for="filterObtainedNonMastered">
      Show Obtained Non-Mastered
    </label>
  </div>
  
  <div class="form-check">
    <input class="form-check-input" type="radio" name="filterObtained" id="filterObtainedMastered" value="obtainedmastered"
      (click)="setObtainedFilter('Mastered')">
    <label class="form-check-label" for="filterObtainedMastered">
      Show Mastered
    </label>
  </div>
</div>

<div class="container">
  <h5>Sort</h5>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="sortingMethod" id="sortByCategoryAscending"
      value="categoryascending" (click)="setSortingMethod('CategoryAscending')">
    <label class="form-check-label" for="sortByCategoryAscending">
      Category Ascending
    </label>
  </div>
  <div class="form-check">
    <input checked class="form-check-input" type="radio" name="sortingMethod" id="sortByCategoryDescending"
      value="categorydescending" (click)="setSortingMethod('CategoryDescending')">
    <label class="form-check-label" for="sortByCategoryDescending">
      Category Descending
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="sortingMethod" id="sortByNameAscending" value="nameascending"
      (click)="setSortingMethod('NameAscending')">
    <label class="form-check-label" for="sortByNameAscending">
      Name Ascending
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="sortingMethod" id="sortByNameDescending" value="namedescending"
      (click)="setSortingMethod('NameDescending')">
    <label class="form-check-label" for="sortByNameDescending">
      Name Descending
    </label>
  </div>
</div>


<div class="container">
  <div class="row">
    <div *ngFor='let collectible of displayedCollectibles' class="col-2 p-0">
      <div class='m-1 card {{collectedColor(collectible)}}'>
        <div class="card-body p-1">
          <a href={{collectible.detailsLink}} class="btn btn-primary w-100 p-0">
            <i class="{{collectibleIcon(collectible)}} position-icon"></i>
            <p class="collectible-text center">{{collectible.name}}</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>