<h2>Collectibles</h2>

<i class="fa fa-bars"></i>
<!--
<table class="table">
  <tr>
    <th>Type</th>
    <th>Name</th>
    <th>Status</th>
    <th>Link</th>
  </tr>
  <tr *ngFor='let collectible of collectibles' class="m-3">
    <td>{{collectible.category}}</td>
    <td>{{collectible.name}}</td>
    <td>{{collectedValue(collectible)}}</td>
    <td>{{collectible.detailsLink}}</td>
  </tr>
 </table>
-->
<div class = "container">
  <div *ngFor='let collectible of collectibles' class='card m-1 w-25 {{collectedColor(collectible)}}'>
    <div class="card-body p-1">
      <a href={{collectible.detailsLink}} class="btn btn-primary w-100">
        
        <i class="{{collectibleIcon(collectible)}} position-icon" ></i>
        <h5>{{collectible.name}}</h5>
      </a>
    </div>
  </div>
</div>