<div>
   <h1>Wish list</h1>
   <!--
   <div class="d-flex horizontal-list">
      <h5>Total construction cost:</h5>
      <div *ngFor='let stack of componentViews.' class="component-card">
         <span class="card">{{stack.componentName}}: {{stack.componentCount}}</span>
      </div>
   </div>
   -->
   <ul class="list-group">
      <li *ngFor='let view of componentViews' class="list-group-item wish-list-item">
         <app-wish-list-card 
            [collectible]="view.collectible"
            [onDelete]="removeItem"
         ></app-wish-list-card>
      </li>
   </ul>
</div>